.modulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: calc(23% - 2rem);
    min-height: 16rem;
    background: #ff0000;
    margin: 1rem;
    justify-content: center;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
}

.modulo:hover{
    transform: scale(1);
    box-shadow: 0px 0px 0px rgb(71, 71, 71);
}

i{
    font-size: 7rem;
    margin-bottom: 2rem;
}