.tablero{
    width: 60%;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.far-servicios{
    font-size: 6rem;
    margin-bottom: 1rem;
    font-weight: lighter;
}