.lista-documentos{
    flex-basis: calc(70%);
    border: 1px solid #bdbdbd;
    height: 100% !important;
    margin-top: 0 !important;
}

.header-documentos{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bgAzul);
    font-size: 2.5rem;
    color: white;
    font-weight: bold;
    height: 4rem;
    width: 100%;
}

.lista-documentos .lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}