@import './custom.css';

.login-container{
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container img{
    margin: 5rem 0rem;
    width: 100%;
}

.login-container form{
    display: flex;
    flex-direction: column;
    width: 65%;
    justify-content: center;
    font-size: 1.8rem;
    text-align: center;
    gap: 15px;
}

.login-container form input{
    width: 100%;
    border-radius: 5px;
    height: 4rem;
    padding: 10px;
    border: 1px solid #BFBFBF;
    color: black;
    font-weight: bold;
    font-size: 2rem;
   
}

.login-container form input::placeholder{
    font-weight: 700;
    color: var(--bgAzul);
}

input:focus, select:focus, select, input.form-control:focus {
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.login-container form input:focus{
    border: 2px solid #0C818E;
}

.login-container form .btnEntrar{
    background: #0C818E;
    color: white;
    border-radius: 5px;
    margin-top: 1rem;
    border:none;
    height: 40px;
    width: 100%;
    font-size: 1.8rem;
    font-weight: 700;
    cursor:pointer;
}

.login-container form .btnEntrar:hover{
    background: var(--bgNaranja);
}

.login-container p{
    margin-top: 2rem;
}

.login-container a{
    margin-left: .5rem;
    font-weight: bold;
    color: #75B735;
    font-size: 2rem;
}

.login-container a:hover{
    color: #095d66;
}

.login-container ul{
    margin-top: 10rem;
}

.btnRoles{
    background: var(--bgGris);
    padding: 4rem;
    color: white !important;
    border-radius: 5px;
    margin: 0rem 4rem
}

.btnRoles:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
}