*{
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

*::before, *::after{
  box-sizing: inherit;
}

html{
  font-size: 62.5%; /*Estandarizamos a 10px el rem*/
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.5rem;
  font-family: 'PT Sans Narrow', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn{
  padding: 1rem 2rem;
  font-size: 1.7rem;
  font-weight: bold;
  width: 30%;
  border-radius: .5rem;
  color: black;
  text-align: center;
}

.btnInicio{
  background: #0C818E;
  color:white;
}

h1{
  font-size: 2rem;
  font-size: 4.5rem;
  margin-bottom: 3rem;
}

.error , .succes{
  padding: 1.2rem;
  position: absolute;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 2.5rem;
  right: 1rem;
  top:1rem;
}

.fas, .far{
  font-size: 2.5rem;
  margin: 0 1rem 0 0
}

.error{
  background: rgba(255, 49, 49, 1);

}
.succes{
  background: rgb(30, 187, 9);

}

.servicios-especializados{
  text-align: center;
}