.selectNav{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: .5rem;
    margin-top: 3rem;
}

.select-form{
    flex-basis: calc(33.3% - .5rem);
    flex-flow: 1;
    height: 4rem;
    font-size: 2rem;
    font-weight: bold;
    color: #717171;
    padding-left: 2rem;
}

.select-form:first-child{
    flex-basis:50%;
}